

{% extends "base.html" %}

{% block content %}
<header><h1>Create lesson</h1></header>
<section class="create-lesson-form">
  <form method="post" action="/lessons/new">
    <!-- Student dropdown -->
    <select class="custom-select mb-3" id="student" name="student">
      {% for student in students %}
      {% if students %}
      <option>{{ student.email }}</option>
      {% else %}
      <option selected>No students found!</option>
      {% endif %}

      {% endfor %}
    </select>

    <!-- Date -->
    <div class="form-row">
      <div class="col">
        <label for="date">Date</label>
        <input type="text" class="form-control" id="date" name="date" placeholder="{{ year }}-{{ month }}-{{ day }}" value="{{ year }}-{{ month }}-{{ day }}" required pattern="\d{4}-\d{2}-\d{2}"></input>
        <span class="validity"></span>
      </div>

    <!-- Time -->
    <div class="col">
      <label for="time">Time</label>
      <input type="time" class="form-control" id="time" name="time" placeholder="{{ time }}" value="{{ time }}"></input>
    </div>
    </div>

    <!-- Duration -->
    <div class="form-row">
      <label for="duration">Time</label>
      <input type="text" class="form-control" id="duration" name="duration" placeholder="Duration of lesson in minutes" value="{{ duration }}">
    </div>

    <!-- Topics -->
    <div class="form-row">
      <label for="topics">Topics</label>
      <input type="text" class="form-control" id="topics" name="topics" placeholder="Cars + Present perfect">
    </div>

    <button class="btn btn-primary" type="submit">Create</button>
  </form>

</section>
{% endblock %}
