#lessonSearchBar {


}

.flaskmessage{
z-index: 5;
display:block;
}
a.nav-item {
	font-size:1.5em;
}

.lesson_row {
	margin: 10px -15px;
	padding: 7px;
	cursor: pointer;
	font-size:20px;
}


@media only screen and (max-width: 768px){
	table#lessons > thead > tr > th:nth-child(3){
		display:none;
	}	
	table#lessons > tbody > tr > td:nth-child(3){
		display:none;
	}	
}
div .row > svg{
	transition: 0.3s;
}
div .row > svg:hover{
	transform:translate(100px,100px);
	transform:scale(1.5);
}
svg.staractive:hover path{
	d: path("M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z")
}
svg.staractive path{
	d: path("M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z")
}
svg.starinactive path{
	d: path("M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z")
}

div#lessons div.col{
	transition:0.3s;
}

.hoverable:hover{
cursor: pointer;
background-color:#e6e6e6
}
.hoverable{
}

div#lessons div.col:hover:nth-child(1) {
}

div .analysis > table[data-category="vocab"] > thead > tr:nth-child(1){background-color:#cc0000;color:white}
div .analysis > table[data-category="vocab"] > thead > tr:nth-child(2){background-color:#ea8888;color:black}
div .analysis > table[data-category="mistakes"] > thead > tr:nth-child(1){background-color:#2ca05a;color:white}
div .analysis > table[data-category="mistakes"] > thead > tr:nth-child(2){background-color:#3ec48a;color:black}
div .analysis > table[data-category="pronunciation"] > thead > tr:nth-child(1){background-color:#a64d79;color:white}
div .analysis > table[data-category="pronunciation"] > thead > tr:nth-child(2){background-color:#d5a6bd;color:black}
div .analysis > table[data-category="grammar"] > thead > tr:nth-child(1){background-color:#3c78d8;color:white}
div .analysis > table[data-category="grammar"] > thead > tr:nth-child(2){background-color:#a4c2f4;color:black}
div .analysis > table[data-category="homework"] > thead > tr:nth-child(1){background-color:#e69138;color:white}
div .analysis > table[data-category="homework"] > thead > tr:nth-child(2){background-color:#fce5cd;color:black}
/*
.vocabheader{background-color:#cc0000;color:white}
.vocab{background-color:#ea8888;color:black}
.mistakesheader{background-color:#2ca05a;color:white}
.mistakes{background-color:#3ec48a;color:black}
.pronunciationheader{background-color:#a64d79;color:white}
.pronunciation{background-color:#d5a6bd;color:black}
.grammarheader{background-color:#3c78d8;color:white}
.grammar{background-color:#a4c2f4;color:black}
.homeworkheader{background-color:#e69138;color:white}
.homework{background-color:#fce5cd;color:black}
 */
